<ngx-spinner [name]="spinnerName" [type]="spinnerType"></ngx-spinner>
<app-navbar></app-navbar>

<br>
<br>

<div class="containerBody">
  <div class="containertop">
    <h1 class="title-page"><b>Registrar Unidad</b></h1>
    <div class="btnCreate">
      <button type="button" id="btn-List" class="btn btn-one" (click)="navigateTo('/unit-list')">Ver Lista</button>
    </div>
  </div>

  <br>
  <br>

  <div class="container-form">
    <form class="form-newRol" [formGroup]="registerForm">
      <div class="inputs-f1">
        <mat-form-field class="nameUnit-full-width">
          <mat-label>Nombre de unidad</mat-label>
          <input matInput placeholder="Ingrese el nombre de la unidad" formControlName="name_unit" (keypress)="onKeyPress()">
          <mat-error *ngIf="isValid('name_unit')">
            {{ getErrorMessage('name_unit') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="selectFaculty-full-width" id="select-faculty">
          <mat-label>Seleccione facultad</mat-label>
          <mat-select formControlName="id_faculty">
            <mat-option *ngFor="let faculty of faculties" [value]="faculty.id_faculty">
              {{faculty.name_faculty}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="isValid('id_faculty')">
            {{ getErrorMessage('id_faculty') }}
          </mat-error>
        </mat-form-field>
      </div>
      <br>
      <br>

      <mat-radio-group aria-label="Tipo de unidad" class="imput-check" formControlName="type">
        <mat-label class="label-select"><b>Tipo de unidad</b></mat-label>
        <mat-radio-button value="Administrativa" (click)="showInputAmout(false)" checked>Unidad Administrativa
        </mat-radio-button>
        <mat-radio-button value="Gasto" (click)="showInputAmout(true)">Unidad de Gasto</mat-radio-button>
      </mat-radio-group>

      <br>

      <mat-form-field class="mount-full-width" *ngIf="showAmount">
        <mat-label>Monto</mat-label>
        <input matInput placeholder="Ingrese monto" type="number" formControlName="amount" (keypress)="onKeyPress()">
        <mat-error *ngIf="isValid('amount')">
          {{ getErrorMessage('amount') }}
        </mat-error>
      </mat-form-field>

      <br>
      <br>
      <div class="containerBtn">
        <div>
          <button class="btn btn-cancel" (click)="navigateTo('/unit-list')">Cancelar</button>
          <button class="btn btn-register" (click)="registerUnit()">Registrar</button>
        </div>
      </div>
      <p *ngIf="messageFail" class="failed-register">
        {{ this.messageRegisterFailed }}
      </p>
    </form>
  </div>
</div>
