
.form-container{
  margin-left: 8%;
  margin-right: 8%;
}
.leftDiv{
  float: left;
  width: 50%;
}
.rightDiv{
  float: left;
  width: 50%;
}
.fieldRegister{
  margin-bottom: 1%;
  width: 100%;
  border-radius: 5px ;
}
#register{
 text-align: left;
}
.containerButton{
  clear: both;
  text-align: center;
}
.alert-danger{
  font-size: small;
  color: #721c24;
  border-radius: 3px;
  background-color: #f5c6cb ;
  width: 100%;
}
.containerTop{
  margin-left: 15%;
  display: flex;
  box-sizing: border-box;
  margin-bottom: 10px;
  color: #1C2331;
  font-weight: bolder;
  margin-top: 2%;
}
.mat-form-field{
  width: 80%;
  border-bottom: #003b72;
}
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  font-size: 1rem;
  color: #1C2331 !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/

  background-color: #1C2331 !important;
}
::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: #1C2331 !important;;
}
.btn-primary{
  margin-top: 5%;
  border-color: #003b72 ;
  background-color: #003b72;
  width: 20%;
  margin-left: 5%;
}
.btn-danger{
  margin-top: 5%;
  margin-right: 5%;
  border-color: #1C2331;
  background-color: #1C2331;
  width: 20%;
}
.btn:hover{
  background-color:#2f82ff !important;
  }
  .btn-one,
  .btn-one:hover,
  .btn-one:active {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.11);
    background-color:#003b72;
    width: 200px;
    margin-left: 10px;
  }






