<main>
  <app-navbar></app-navbar>
  <div>
    <div class="containerTop">
      <h1><b> Registrar Personal</b></h1>
      <div class="btnCreate">
        <button type="button" class="btn btn-one"> Ver Lista</button>
      </div>

    </div>
  </div>
  <form class="form-container" [formGroup]="registerForm" (ngSubmit)="insertData()">
    <div class="leftDiv">
      <mat-form-field >
        <input class="fieldRegister" formControlName="email" matInput placeholder="Titulo" type="email"
          placeholder="Ingrese Correo" maxlength="31" [(ngModel)]="RegisterUser.email"
           minlength="8">
          <mat-error *ngIf="isValid('email')">
            {{getErrorMessageEmail('email')}}
          </mat-error>
      </mat-form-field>

      <mat-form-field >
        <input class="fieldRegister" formControlName="name" matInput placeholder="Titulo" type="text"
          placeholder="Ingrese Nombre Completo" maxlength="50" [(ngModel)]="RegisterUser.name"
          (input)="inputValidator($event)" minlength="15">
          <mat-error *ngIf="isValid('name')">
            {{getErrorMessageName('name')}}
          </mat-error>
      </mat-form-field>
      <mat-form-field >
        <input class="fieldRegister" formControlName="ci" matInput placeholder="Titulo" type="text"
          placeholder="Ingrese CI" maxlength="9" minlength="7" [(ngModel)]="RegisterUser.ci"
          (keypress)="onKeyPress($event)">
          <mat-error *ngIf="isValid('ci')">
            {{getErrorMessageCi('ci')}}
          </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="matformLeft">
        <input input class="fieldRegister" formControlName="address" matInput placeholder="Titulo" type="text"
          placeholder="Ingrese Dirección" maxlength="100" minlength="30" [(ngModel)]="RegisterUser.address">
        <mat-error *ngIf="isValid('address')">
            {{getErrorMessageAddress('address')}}
        </mat-error>
        </mat-form-field>
    </div>



    <div class="rightDiv">
      <app-rol-dropdown></app-rol-dropdown>
      <mat-form-field class=leftCol>
        <mat-select placeholder="Seleccione Unidad" #unidad >
           <mat-option *ngFor="let unit of units" value="id_unit">
            {{unit.name_unit}}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field >
        <input class="fieldRegister" formControlName="phone" matInput placeholder="Titulo" type="text"
          placeholder="Ingrese Teléfono" maxlength="8" minlength="7" [(ngModel)]="RegisterUser.phone"
          (keypress)="onKeyPress($event)">
          <mat-error *ngIf="isValid('phone')">
            {{getErrorMessagePhone('phone')}}
          </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field >
        <input class="fieldRegister" formControlName="password" matInput placeholder="Contraseña" type="text"
          placeholder="Contraseña" maxlength="31" minlength="8" [(ngModel)]="RegisterUser.password"
          >
          <mat-error *ngIf="isValid('password')">
            {{getErrorMessagePassword('password')}}
          </mat-error>
      </mat-form-field>
    </div>
    <div class="containerButton" >
      <button class="btn btn-primary"  >
        Registrar
      </button>

      <button class="btn btn-danger" >
        Cancelar
      </button>
    </div>
  </form>




</main>

