<!--Barra de navegacion-->
<app-navbar></app-navbar>
<!--header-->
<div class="containerBody">
  <div class="containerTop">
    <h1><b>Cuadro Comparativo de Cotizaciones</b></h1>
  </div>

  <div class="contentQuoteDate">
    <div class="contentQuote">
      <b>Encargado de Cotizacion: </b>
      {{ entrusted }}
    </div>
    <div class="contentSelect">
      <mat-form-field class="selectItem-full-width" id="select-item">
        <mat-label>Seleccione Item</mat-label>
        <mat-select #mySelect (selectionChange)="showItems(mySelect.value)">
          <mat-option *ngFor="let item of items" [value]="item.id_item">
            {{ item.name_item }}
          </mat-option>
        </mat-select>
        <mat-error> </mat-error>
      </mat-form-field>
    </div>
  </div>

  <!--Tabla de lista de cotizaciones realizadas-->
  <div class="conteinerTable">
    <div class="newHeadTable">
      <div class="numHeadC"><b>Nº</b></div>
      <div class="canHeadC"><b>Cantidad</b></div>
      <div class="uniHeadC"><b>Unidad</b></div>
      <div class="detHeadC"><b>Detalle</b></div>
      <div class="empHeadC"><b>Empresa</b></div>
      <div class="perHeadC"><b>Periodo</b></div>
      <div class="unitHeadC"><b>Unitario</b></div>
      <div class="totHeadC"><b>Total</b></div>
      <div class="selHead"><b>Seleccion</b></div>
    </div>
    <div class="newBodyTable">
      <table class="table table-hover">
        <thead class="headTable">
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Unidad</th>
            <th scope="col">Detalle</th>
            <th scope="col">Empresa</th>
            <th scope="col">Periodo</th>
            <th scope="col">Unitario</th>
            <th scope="col">Total</th>
            <th scope="col">Seleccion</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="rowQoute"
            *ngFor="let itemQuote of itemsQuotes; let i = index"
          >
            <th style="padding-top:20px;" scope="row">{{ i + 1}}</th>
            <td style="width:8%; padding-left: 2%; padding-top:20px;">{{itemQuote.quantity}}</td>
            <td style="width:7%; padding-top:20px;">{{itemQuote.unit_item}}</td>
            <td style="width:28%; padding-top:20px;">{{itemQuote.name_item}}</td>
            <td style="width:26%; padding-top:20px;">{{itemQuote.name_enterprise}}</td>
            <td style="width:7%; padding-top:20px;">{{itemQuote.delivery_days}}</td>
            <td style="width:8%; padding-top:20px;">{{itemQuote.unit_cost}}</td>
            <td style="width:8%; padding-top:20px;">{{itemQuote.unit_cost * itemQuote.quantity }}</td>
            <td style="width:8%">
              <div>
                <button class="btn btn-edit" *ngIf="showBtn" (click)="selectItem(i)">
                  Elegir
                </button>
                <button class="btn btn-edit" *ngIf="!showBtn" disabled (click)="selectItem(i)">
                  Elegir
                </button>
                <!--<input
                  class="form-check-input"
                  type="checkbox"
                  id="checkboxNoLabel"
                  value=""
                  aria-label="..."
                />-->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="containerBtn">
      <div>
        <button class="btn btn-reject">Rechazar</button>
        <button class="btn btn-register">Registrar</button>
      </div>
    </div>
  </div>
</div>
