<!--Barra de navegacion-->
<app-navbar></app-navbar>
<!--header-->
<div class="containerBody">
  <div class="containerTop">
    <h1><b>Cuadro Comparativo de Cotizaciones</b></h1>
  </div>

  <div class="contentQuoteDate">
    <div class="contentQuote">
      <b>Encargado de Cotizacion: </b>
      {{entrusted}}
    </div>
    <div class="contentSelect">
      <mat-form-field class="selectItem-full-width" id="select-item">
        <mat-label>Seleccione Item</mat-label>
        <mat-select >
          <mat-option *ngFor="let item of items" [value]="item.id_item">
            {{item.name_item}}
          </mat-option>
        </mat-select>
        <mat-error>

        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <!--Tabla de lista de cotizaciones realizadas-->
  <div class="conteinerTable">
    <div class="newHeadTable">
      <div class="numHeadC"><b>Nº</b></div>
      <div class="canHeadC"><b>Cantidad</b></div>
      <div class="uniHeadC"><b>Unidad</b></div>
      <div class="detHeadC"><b>Detalle</b></div>
      <div class="empHeadC"><b>Empresa</b></div>
      <div class="perHeadC"><b>Periodo</b></div>
      <div class="unitHeadC"><b>Unitario</b></div>
      <div class="totHeadC"><b>Total</b></div>
      <div class="selHead"><b>Seleccion</b></div>
    </div>
    <div class="newBodyTable">
      <table class="table table-hover">
        <thead class="headTable">
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Unidad</th>
            <th scope="col">Detalle</th>
            <th scope="col">Empresa</th>
            <th scope="col">Periodo</th>
            <th scope="col">Unitario</th>
            <th scope="col">Total</th>
            <th scope="col">Seleccion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>
              <div>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="checkboxNoLabel"
                  value=""
                  aria-label="..."
                />
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>
              <div>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="checkboxNoLabel"
                  value=""
                  aria-label="..."
                />
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>
              <div>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="checkboxNoLabel"
                  value=""
                  aria-label="..."
                />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="containerBtn">
      <div>
        <button class="btn btn-cancel">Cancelar</button>
        <button class="btn btn-register">Registrar</button>
      </div>
    </div>
  </div>
</div>
