<app-navbar-outside></app-navbar-outside>
<div class="contentBody">
  <div class="contentInfo">
    <div class="titleInfo">
      <b class="textRed">Soporte</b>
    </div>
    <div class="info">

      <h1 class="titleOne">Ayuda</h1>
      <div class="info">
        <h2 class="titleTwo">No recuerdo mi informacion para iniciar sesión</h2>
        <p class="textP">En caso de olvidar la información requerida para iniciar Sesión el usuario debe solicitar al encargado del
          sistema sus credenciales para poder ingresar al sistema.</p>

        <h2 class="titleTwo">Fallas del Sistema</h2>
        <p class="textP">En caso de presentar fallas en el sistema contactar con la empresa responsable.</p>

      </div>


    </div>




  </div>
  <div class="contentImgSupport">
    <img src="../../assets/img-outsite/undraw_Hello_qnas.svg" alt="" class="imgContact">
  </div>
</div>
<div class="contactBooton">
  <div class="contact">
    <div class="logo">
      <img src="../../assets/img-outsite/thns.svg" alt="" class="imglogo">

    </div>
    <div class="contactInfo">
      <p class="textP">Teléfono: (+591) 4 4452879</p>
      <p class="textP">Correo: thnewsystem@gmail.com</p>
      <p class="textP">Dirección: Av. America y Santa Cruz, Cochabamba Bolivia</p>
    </div>
  </div>
</div>
