<form [formGroup]="updatePassForm" (ngSubmit)="saveNewPassword()">
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title"><b>Cambio de contraseña</b></h1>
    <button type="button" class="close" aria-label="close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="dateInfo">
      <mat-form-field>
        <mat-label>Ingresar nueva contraseña</mat-label>
        <input class="form-control"  id ="pass1" formControlName="password" matInput>
        <mat-error *ngIf="isValid('password')">
          {{getErrorMessagePassword('password')}}
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field>

      <mat-label>Ingresar nueva contraseña</mat-label>
      <input formControlName="pass2" id ="pass2" matInput [(ngModel)]="upPassword.pass2">
      <mat-error *ngIf="isValid('pass2')">
        {{confirmPasswordMessage('pass2','pass1')}}
      </mat-error>
    </mat-form-field>
    <div class="containerButton">
      <button class="btn btn-danger" (click)="modal.close('Cancelar')">
        Cancelar
      </button>
      <button class="btn btn-primary" >
        Guardar
      </button>
    </div>
  </div>
</form>
