<app-nav-user></app-nav-user>

<div class="contentBody">
  <div class="username">
    <b>Bienvenido Usuario: {{ this.nameUser }}</b>
  </div>
  <div class="usernameRol">
    <b>Rol: {{ this.rolUser }}</b>
  </div>
  <div class="bodyOption">
    <div class="contentOption">
        <div class="option" *ngIf="showRequest" (click)="navigateTo('/request-quotation-list')">
          <img src="../../assets/img-user-home/Btn-Solicitud.svg"  class="optBtn">
        </div>
        <div class="option" *ngIf="showQuote" (click)="navigateTo('/quote-list')">
          <img src="../../assets/img-user-home/Btn-Cotizacion.svg"  class="optBtn">
        </div>
        <div class="option" *ngIf="showAccept" (click)="navigateTo('/list-quotes')">
          <img src="../../assets/img-user-home/Btn-Aprobar2.svg" class="optBtn">
        </div>
        <div class="option" *ngIf="showEnterprise" (click)="navigateTo('/company-list')">
          <img src="../../assets/img-user-home/Btn-Empresa.svg" class="optBtn">
        </div>
    </div>
  </div>
</div>
