
<div class="containerBody">
  <div class="containertop">
    <h3>Roles Administrativos</h3>
    <div class="btnCreate">
      <button type="button" class="btn btn-primary">Crear nuevo rol</button>

    </div>
  </div>

  <!--Tabla-->
  <div class="containerTable">
    <table class="table table-striped">
      <thead class="headTable">
        <tr>
          <th scope="col">Nº</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>
            <button type="button" class="btn btn-primary">Editar</button>
          </td>

        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>
            <button type="button" class="btn btn-primary">Editar</button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>
            <button type="button" class="btn btn-primary">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

