.containerBody{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
}
body{
  background-color: #F0F0F8;
}
.containertop{
  display: flex;
  box-sizing: border-box;
  margin-bottom: 0px;
  color: #003b72;
  font-weight: bolder;
}
.btn:hover{
background-color:#2f82ff !important;
color: white;
}

.headTable{
  background-color: #003b72;
  color: white;
  display: none;
}
.containerTable{
  color:#0000 ;
  background-color: #fafafa;
}
/*Estilos de tabla*/
.newBodyTable{
  color:#0000 ;
  background-color: #fafafa;
  overflow-y: auto;
  padding-left: 0.2%;
  padding-right: 0.2%;
  height: 430px;
}
.newHeadTable{
  background-color: #003b72;
  color: white;
  font-size: 1rem;
  display: flex;
  padding: 12px;
  width: 100%;
}
.numHead{
  width: 7%;
}
.nomHead{
  width: 35%;

}
.statusHead{
  width: 26%;
}
.totalHead{
  width: 20%;
}



.containerBtn{
  text-align: center;
}
/*estilo agregados*/
.titleQoute{
  width: 50%;
  font-size: 1rem;

}

.btnAction{

  align-items: center;
	width:40px;
	height:40px;
  padding: 5px;
  margin-right: 5%;
	text-align:center;
	border:1px solid #007095;
	border-radius:5px;
	cursor:pointer;
  background-color:#f1f1f1;

}
.btnAction:hover{
  background-color: #ffffff !important;
}
.contentStatusP{
  border:1px solid #007095;
	border-radius:7px;
  color:#007095;
  width: 90px;
  padding: 2px;
  text-align: center;
}
.contentStatusA{
  border:1px solid #128D4B;
	border-radius:7px;
  color:#128D4B;
  width: 90px;
  padding: 2px;
  text-align: center;
}
.contentStatusR{
  border:1px solid #c42121;
	border-radius:7px;
  color:#c42121;
  width: 90px;
  padding: 2px;
  text-align: center;
}
