.containerBody {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
}
body {
  background-color: #f0f0f8;
}
.containertop {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 0px;
  color: #003b72;
  font-weight: bolder;
}
.contentFilter {
  display: block;
  text-align: right;
  margin-top: 0;
  margin-right: 0;
  align-items: flex-end;
  justify-content:right
}
.btnCreate {
  margin-right: 0%;
}
.btn-one {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.11);
  background-color: #003b72;
  width: 200px;
  margin-left: 20px;
}
.form-control {
  margin-top: 2px;
  margin-left: 20px;
  width: 200px;
  margin-bottom: 2px;
}
.btn:hover {
  background-color: #2f82ff !important;
  color: white;
}

.headTable {
  background-color: #003b72;
  color: white;
  display: none;
}
.containerTable {
  color: #0000;
  background-color: #fafafa;
}
/*Estilos de tabla*/
.newBodyTable {
  color: #0000;
  background-color: #fafafa;
  overflow-y: auto;
  padding-left: 0.4%;
  padding-right: 0.4%;
  height: 430px;
}
.newHeadTable {
  background-color: #003b72;
  color: white;
  font-size: 1rem;
  display: flex;
  padding: 12px;
  width: 100%;
}
.numHead {
  width: 6%;
}
.nomHead {
  width: 32%;
}
.totalHead {
  width: 23%;
}
.statusHead {
  width: 12%;
}
.dateHead {
  width: 17%;
}

.containerBtn {
  text-align: center;
}
/*estilo agregados*/
.titleQoute {
  width: 50%;
  font-size: 1rem;
}

.btnAction {
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 5px;
  margin-right: 5%;
  text-align: center;
  /* border:1px solid #007095; */
  border-radius: 5px;
  cursor: pointer;
  /* background-color:#dedede; */
}
.btnAction:hover {
  background-color: #ffffff !important;
}
.contentStatusP {
  border: 1px solid #007095;
  border-radius: 7px;
  color: #007095;
  width: 90px;
  padding: 2px;
  text-align: center;
}
.contentStatusA {
  border: 1px solid #128d4b;
  border-radius: 7px;
  color: #128d4b;
  width: 90px;
  padding: 2px;
  text-align: center;
}
.contentStatusR {
  border: 1px solid #c42121;
  border-radius: 7px;
  color: #c42121;
  width: 90px;
  padding: 2px;
  text-align: center;
}
.contentStatusC {
  border: 1px solid #242424;
  border-radius: 7px;
  color: #242424;
  width: 90px;
  padding: 2px;
  text-align: center;
}
