<app-navbar></app-navbar>

<!--header-->
<div class="containerBody">
  <div class="containertop">
    <h1><b>Lista Solicitud de Cotización</b></h1>
  </div>

  <!--Tabla-->
  <div class="containerTable">
    <div class="newHeadTable">
      <div class="numHead"><b>Nº</b></div>
      <div class="nomHead"><b>Razon social</b></div>
      <div class="totalHead"><b>Total</b></div>
      <div class="statusHead"><b>Estado</b></div>
      <div class="accHead"><b>Acciones</b></div>
    </div>
    <div class="newBodyTable">
      <table class="table">
        <thead class="headTable">
          <tr>
            <th scope="col">Nº</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="row-faculty" >
            <th scope="row">1</th>
            <td>Elemetos de de oficina</td>
            <td>900</td>
            <td>
              <div class="contentStatusP">
                Proceso
              </div>
            </td>
            <td>
              <div class="row justify-content-end" style="padding-right: 20%;">
                <button type="button" class="btn btnAction"><img src="../../assets/icon-quote/pencil.png" alt="" width="25" height="25"></button>
                <button type="button" class="btn btnAction"><img src="../../assets/icon-quote/file-text.png" alt="" width="25" height="25"></button>

              </div>
            </td>
          </tr>
          <tr class="row-faculty" >
            <th scope="row">2</th>
            <td>Elemetos de de oficina</td>
            <td>900</td>
            <td>
              <div class="contentStatusA">
                Aprobado
              </div>
            </td>
            <td>
              <div class="row justify-content-end" style="padding-right: 20%;">
                <button type="button" class="btn btnAction"><img src="../../assets/icon-quote/pencil.png" alt="" width="25" height="25"></button>
                <button type="button" class="btn btnAction"><img src="../../assets/icon-quote/file-text.png" alt="" width="25" height="25"></button>

              </div>
            </td>
          </tr>
          <tr class="row-faculty" >
            <th scope="row">3</th>
            <td>Elemetos de de oficina</td>
            <td>900</td>
            <td>
              <div class="contentStatusR">
                Rechazado
              </div>
            </td>
            <td>
              <div class="row justify-content-end" style="padding-right: 20%;">
                <button type="button" class="btn btnAction"><img src="../../assets/icon-quote/pencil.png" alt="" width="25" height="25"></button>
                <button type="button" class="btn btnAction"><img src="../../assets/icon-quote/file-text.png" alt="" width="25" height="25"></button>

              </div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>
