<app-navbar-outside></app-navbar-outside>
<div class="contentBody">
  <div class="contentImg">
<img src="../../assets/img-outsite/img-contact-page.svg" alt="" class="imgContact">
  </div>
  <div class="contentInfo">
<div class="titleInfo">
  <b>Contactos</b>
</div>
<div class="info">
<h2 class="titleTwo">Información General</h2>
<p class="textP">Correo: informaciones@umss.edu.bo</p>
<p class="textP">Teléfono: (+591) 4 4525161</p>
<h2 class="titleTwo">Dirección</h2>
<p class="textP">Campus central: Av. Oquendo final Jordan, Cochabamba Bolivia</p>
<h2 class="titleTwo">Redes Sociales</h2>
</div>
<div class="contentIcon">
  <a href="https://www.facebook.com/UmssBolOficial/" target="_blank">
    <img src="../../assets/img-social-media/facebook-icon-black.svg" alt="facebook-icon-black" class="imgIcon">
  </a>
  <a href="https://www.twitter.com/UmssBolOficial/" target="_blank">
    <img src="../../assets/img-social-media/twitter-icon-black.svg" alt="twitter-icon-black" class="imgIcon">
  </a>
  <a href="https://www.instagram.com/umssboloficial" target="_blank">
    <img src="../../assets/img-social-media/instagram-icon-black.svg" alt="instagram-icon-black" class="imgIcon">
  </a>
</div>
  </div>
</div>
