<app-navbar-outside></app-navbar-outside>
<div class="contentBody">
  <div class="contentImg">
<img src="../../assets/img-outsite/img-contact-page.svg" alt="" class="imgContact">
  </div>
  <div class="contentInfo">
<div class="titleInfo">
  <b>Contactos</b>
</div>
<div class="info">
<h2>Infomación Genaral</h2>
<p>Correo: infoemciones@umss.edu.bo</p>
<p>Teléfono: (+591) 4 4525161</p>
<h2>Direción</h2>
<p>Campus central: Av. Oquendo final Jordan, Cochabamba Bolivia</p>
<h2>Redes Sociales</h2>
</div>
<div class="contentIcon">
  <img src="../../assets/img-outsite/icons8-facebook.png" alt="" width="40" class="imgIcon">
  <img src="../../assets/img-outsite/icons8-twitter.png" alt="" class="imgIcon">
  <img src="../../assets/img-outsite/icons8-instagram.png" alt="" class="imgIcon">
</div>
  </div>
</div>
