body{
  margin: 0;
  background-color: #f0f0f8;
}
.bodyOption{
  /* padding: 20px; */
  display:block;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.contentOption{
  width: 100%;
  display: flex;
  flex: 1;
  padding-right: 5%;
  padding-left: 5%;
}

.username{

  padding-left: 30px;
  font-size: 1.5rem;
  color: #1C2331;
  padding: 40px;


}
.option{
  margin: 1%;
  list-style: none;
  font-size: 1rem;
  padding: 5px;
  flex: 1;
  cursor: pointer;
  margin-right: 4%;
  margin-left: 4%;
}
.optBtn{
  width: 100%;
  transition: all 1s;
}
.option:hover{
  border-radius: 6px;
  background-color: rgb(102, 137, 252);
  }
