<app-navbar></app-navbar>
<div class="contentBody">
  <div class="username">
    <b>Bienvenido {{ this.nameUser }}</b>
  </div>
  <div class="bodyOption">

    <div class="contentOption">

        <div class="option" (click)="navigateTo('/school-create')">
          <img src="../../assets/img-outsite/Btn-AdminFacultades.svg" alt="" class="optBtn">
        </div>
        <div class="option" (click)="navigateTo('/units-register')">
          <img src="../../assets/img-outsite/Btn-AdminUnidades.svg" alt="" class="optBtn">
        </div>
        <div class="option" (click)="navigateTo('/register-user')">
          <img src="../../assets/img-outsite/Btn-AdminUser.svg" alt="" class="optBtn">
        </div>
        <div class="option" (click)="navigateTo('/roles-create')">
          <img src="../../assets/img-outsite/Btn-AdminRoles.svg" alt="" class="optBtn">
        </div>
        <div class="option" (click)="navigateTo('/item-list')">
          <img src="../../assets/img-user-home/Btn-Item.svg" class="optBtn">
        </div>
        <div class="option" (click)="navigateTo('/list-budget')">
          <img src="../../assets/img-outsite/Btn-Presupuesto.svg" alt="" class="optBtn">
        </div>

    </div>

  </div>

</div>
