<app-navbar></app-navbar>
<div class="contentBody">
  <div class="username">
    <b>Bienvenido Administrador</b>
  </div>
  <div class="contentOption">
    <div class="option">
      <img src="../../assets/img-outsite/Btn-AdminFacultades.svg" alt="" class="optBtn">
    </div>
    <div class="option">
      <img src="../../assets/img-outsite/Btn-AdminUnidades.svg" alt="" class="optBtn">
    </div>
    <div class="option">
      <img src="../../assets/img-outsite/Btn-AdminUser.svg" alt="" class="optBtn">
    </div>
    <div class="option">
      <img src="../../assets/img-outsite/Btn-AdminRoles.svg" alt="" class="optBtn">
    </div>
  </div>

</div>
