body{
  margin: 0;
  background-color: #f0f0f8;
}

.contentOption{

  padding-top: 50px;
  display: flex;
}

.username{
  padding-top: 20px;
  padding-left: 30px;
  font-size: 1.5rem;
  color: #1C2331;

}
.option{
  margin: 2%;

}
.option{
  list-style: none;
  font-size: 1rem;
  padding: 5px;
}
.optBtn{
  width: 100%;
  transition: all 0.9s;
}
.option:hover{
  background-color: rgb(102, 137, 252);
  }
