<app-navbar-outside></app-navbar-outside>
<div class="contentBody">
  <div class="contentInfo">
    <div class="titleInfo">
      <b>Acerca del sitio</b>
    </div>
    <div class="info">

      <p class="textP"><b id="nameSis">QUOT-UMSS</b> Es una aplicación desarrollada por la empresa TechnoHookup NewSystem con el
        proposito de ayudar al personal admisitrativo de la Universidad Mayor de San Simón en la gestion del proceso de
        adquisición de un bien o servicio.</p>
      <p class="textP">Accede a los cuadros comparativos de la cotizacion para mejorar la toma de deciciones con la ayuda de
        sugerencias que proporsiona la aplicación web.</p>

      <p class="textP">Genera reportes y accede a ellos cuando sea necesario para el control y administración de actividad de una
        unidad facultativa durante una gestión</p>


    </div>

  </div>
  <div class="contentImg">
    <img src="../../assets/img-outsite/img-acercade-page.svg" alt="" class="imgContact">
  </div>

</div>
