<!--Barra de navegacion-->
<app-nav-user></app-nav-user>
<!--header-->
<div class="containerBody">
    <div class="containerTop">
        <h1><b>Lista de cotizaciones realizadas</b></h1>
    </div>
    <!--Tabla de lista de cotizaciones realizadas-->
    <div class="conteinerTable">
        <div class="newHeadTable">
            <div class="numHeadC"><b>Nº</b></div>
            <div class="razHeadC"><b>Razón social</b></div>
            <div class="encHeadC"><b>Encargado de cotización</b></div>
            <div class="statusHeadC"><b>Estado</b></div>
            <div class="accHead"><b>Acciones</b></div>
        </div>
        <div class="newBodyTable">
            <table class="table table-hover">
                <thead class="headTable">
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Razón social</th>
                        <th scope="col">Encargado de cotización</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="rowQoute" *ngFor=" let quote of quotes; let i = index">
                        <th scope="row" style="padding-top: 20px">{{i+1}}</th>
                        <td style="width: 35%; padding-left:0; padding-top: 20px;">{{quote.business_name}}</td>
                        <td style="width: 25%; padding-top: 20px">{{quote.name}}</td>
                        <td style="width: 20%; padding-top: 20px; ">{{getStatusQuote(quote.status_quotation)}}</td>
                        <div>{{setStatusQuote(quote.status_quotation)}}</div>
                        <td style="width: 15%; ">
                        <div [ngSwitch]="status" class="row justify-content-center" style="padding-right: 0%;">

                          <button type="button" class="btn btnAction" *ngSwitchCase="statusQuote.accepted" ngbPopover="Modificar Selección"
                          (click)="navigateTo('/comparative-quotes', quote.id_request, quote.id_quotation, quote.name)">
                            <img src="../../assets/icon-quote/registerMod.png" width="28" height="30" />
                          </button>
                          <button type="button" class="btn btnAction" *ngSwitchCase="statusQuote.accepted" ngbPopover="Reporte PDF"
                          (click)="generatePdf(quote.id_request, quote.id_quotation, quote.business_name, quote.name)">
                            <img src="../../assets/icon-quote/file-pdfAct.png" width="30" height="30" />
                          </button>

                          <button type="button" class="btn btnAction" *ngSwitchCase="statusQuote.rejected" disabled ngbPopover=""
                          >
                            <img src="../../assets/icon-quote/clipboardDes.png" width="30" height="30" />
                          </button>
                          <button type="button" class="btn btnAction" *ngSwitchCase="statusQuote.rejected" ngbPopover="Reporte PDF"
                          (click)="generatePdf(quote.id_request, quote.id_quotation, quote.business_name, quote.name)">
                            <img src="../../assets/icon-quote/file-pdfAct.png" width="30" height="30" />
                          </button>

                          <button type="button" class="btn btnAction" *ngSwitchCase="statusQuote.finalized" ngbPopover="Coparar Cotización"
                          (click)="navigateTo('/comparative-quotes', quote.id_request, quote.id_quotation, quote.name)">
                            <img src="../../assets/icon-quote/clipboardAct.png" width="30" height="30" />
                          </button>
                          <button type="button" class="btn btnAction" *ngSwitchCase="statusQuote.finalized" disabled ngbPopover="Reporte PDF"
                          >
                            <img src="../../assets/icon-quote/file-pdfDes.png" width="30" height="30" />
                          </button>
                          <!-- <button type="button" class="btn btn-choose" (click)="navigateTo('/comparative-quotes', quote.id_request, quote.id_quotation, quote.name)">Comparar Cotizaciones</button> -->
                        </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
