<!--Barra de navegacion-->
<div>
  <div class="navbar">

    <div class="contenNavbar">
      <div>
        <img src="../../assets/img/navbar/Frame.svg" height="60" alt="">
      </div>
      <div class="contentLink">
        <div class="link" (click)="navigateTo('/home-user')">
          <b>Inicio</b>
        </div>
        <div class="link" *ngIf="showRequest" (click)="navigateTo('/request-quotation-list')">
          <b>Solicitud</b>
        </div>
        <div class="link" *ngIf="showQuote" (click)="navigateTo('/quote-list')">
          <b>Cotización</b>
        </div>
        <div class="link" style="width:180px ;" *ngIf="showAccept" (click)="navigateTo('/list-quotes')">
          <b>Solicitudes cotizadas</b>
        </div>
        <div class="link" *ngIf="showEnterprise" (click)="navigateTo('/company-list')">
          <b>Empresas</b>
        </div>
        <div class="link" (click)="logout()">
          <b>Salir</b>
        </div>
      </div>
      <div class="imgmenu" (click)="show=!show">
        <img src="../../assets/img/navbar/IcoMenu.svg" width="40" height="40" alt="">
      </div>
    </div>

  </div>
  <!--Medal menu-->
  <div class="menuContent" *ngIf="show">

    <div class="menuOption">
      <li class="option" (click)="navigateTo('/home-user')">Inicio</li>
      <li class="option" *ngIf="showRequest" (click)="navigateTo('/request-quotation-list')">Solicitud</li>
      <li class="option" *ngIf="showQuote" (click)="navigateTo('/quote-list')">Cotización</li>
      <li class="option" *ngIf="showAccept" (click)="navigateTo('/list-quotes')">Solicitudes cotizadas</li>
      <li class="option" *ngIf="showEnterprise" (click)="navigateTo('/company-list')">Empresas</li>
      <li class="option" (click)="logout()">Salir</li>
    </div>
  </div>
</div>

