body{
  background-color: #F0F0F8;
}

.containerBody{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
}

.containertop{
  display: flex;
  box-sizing: border-box;
  margin-bottom: 10px;
  color: #003b72;
  font-weight: bolder;
}

.containerTable{
  color:#0000 ;
  background-color: #fafafa;
}

.newBodyTable{
  color:#0000 ;
  background-color: #fafafa;
  overflow-y: auto;
  padding-left: 0.4%;
  padding-right: 0.4%;
  height: 460px;
}
.newHeadTable{
  background-color: #003b72;
  color: white;
  font-size: 1rem;
  display: flex;
  padding: 12px;
  width: 100%;
}

.numHead{
  width: 5%;
}

.nomHead{
  width: 53.5%;
}

.statusHead{
  width: 30%
}

.btn-detail{
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.11);
  background-color: #1C2331;
  margin-left: 10px;
  width: 85px;
}

.btn-register{
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.11);
  background-color:#003b72;
  width: 85px;
}
.btn-registerDis{
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.11);
  background-color:#476683;
  width: 85px;
}
.btn-registerDis:hover{
  background-color:#789cd3 !important;
  color: white;
}

.btn:hover{
  background-color:#2f82ff;
  color: white;
}
.btnAction {
  align-content: center;
  width: 28px;
  height: 28px;
  padding: 1px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
.btnAction:hover {
  background-color: #ffffff !important;
}
