<app-nav-user></app-nav-user>
<div class="containerBody">
  <div class="containertop">
    <h1><b>Lista de cotizaciones</b></h1>
  </div>

  <!--Tabla-->
  <div class="containerTable">
    <div class="newHeadTable">
      <div class="numHead"><b>Nº</b></div>
      <div class="nomHead"><b>Razón social</b></div>
      <div class="statusHead"><b>Estado</b></div>
      <div class="accHead" style="padding-right: 12%; text-align: right;"><b>Acciones</b></div>
    </div>
    <div class="newBodyTable">
      <table class="table table-hover">
        <tbody>
          <tr class="row-faculty" *ngFor="let list of quotes ; let i = index">
            <th style="padding-top: 20px; width:4%" scope="row">{{i+1}}</th>
            <td style="padding-top: 20px; width:54%">{{list.business_name}}</td>
            <td style="padding-top: 20px; width:22%">{{list.status_quotation}}</td>
            <td style="width:20%">
              <div class="row justify-content-end" style="padding-right: 20%;">
                <button type="button" class="btn btn-registerDis" *ngIf="!checkStatus(list.status_quotation)" disabled>Registrar</button>
                <button type="button" class="btn btn-register" *ngIf="checkStatus(list.status_quotation)" (click)="navigateTo('/quote-form/'+list.id_request)">Registrar</button>
                <button type="button" class="btn btn-detail" (click)="detailRequest(list.status_quotation, list.business_name, list.id_quotation)">Detalle</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
