body{
  background-color: #F0F0F8;
}

.containerBody{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
}

.containertop{
  display: flex;
  box-sizing: border-box;
  margin-bottom: 10px;
  color: #003b72;
  font-weight: bolder;
}

.containerTable{
  color:#0000 ;
  background-color: #fafafa;
}

.newBodyTable{
  color:#0000 ;
  background-color: #fafafa;
  overflow-y: auto;
  padding-left: 0.2%;
  padding-right: 0.2%;
  height: 420px;
}
.newHeadTable{
  background-color: #003b72;
  color: white;
  font-size: 1rem;
  display: flex;
  padding: 12px;
  width: 100%;
}
.numHead{
  width: 6%;
}
.nomHead{
  width: 72%;
}

.statusHead{
  width: 50%
}

.btn-detail{
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.11);
  background-color: #1C2331;
  margin-left: 10px;
  width: 85px;
}

.btn-register{
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.11);
  background-color:#003b72;
  width: 85px;
}

.btn:hover{
  background-color:#2f82ff !important;
  color: white;
}
