*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #f0f0f8 !important;
  align-items: center;
}

#menu-options{
  /* padding-left: 50%; */
  text-align: center !important;
}

.navbar{
  background-color: #f0f0f8 !important;
  font-size: 1.2rem !important;
}

.row{
  background: white;
  border-radius: 30px;
  box-shadow: 10px 10px 25px rgba(128, 128, 128, 0.877);
}

.img-fluid{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: fit-content !important;
  width: fit-content !important;
}

label, h1{
  color: #003b72;
  font-weight: bold;
}

label{
  margin-bottom: 0px !important;
  font-size: 1.25rem;
}

.btn1{
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: #003b72;
  color: #ffffff;
  border-radius: 4px;
  font-weight: bold;
}

.mt-0{
  margin-top: 0px !important;
}

.form-control{
  outline: 0 !important;
  border-width: 0 0 3px !important;
  border-color: #003b72 !important;
}

input:focus, input.form-control:focus{
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadown: none;
  -webkit-box-shadow: none;
  border-width: 0 0 5px !important;
}

.info-umss{
  text-align: center;
  font-size: 0.05rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.social-media{
  margin-top: 0;
  text-align: center;
}
