<app-navbar-outside></app-navbar-outside>

<div class="main-container">
  <div class="login-container">
    <div class="img-login">
      <img src="../../assets/img-login/image-login.svg" alt="Work image" class="img-work">
    </div>
    <div class="login-form">
      <mat-card class="card-login">
        <mat-card-content>

          <h1>Iniciar Sesión</h1>
          <form>
            <mat-form-field class="full-width-input separator">
              <mat-label>Correo</mat-label>
              <input matInput placeholder="Ingrese su correo" type="email" required>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="full-width-input separator">
              <mat-label>Contraseña</mat-label>
              <input matInput placeholder="Ingrese su contraseña" type="password" required>
            </mat-form-field>
            <br>
            <br>
            <button type="button" class="btn-form">Ingresar</button>
          </form>

        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="footer-container">
    <div class="social-media">
      <p>hola</p>
    </div>
    <div class="copyright">
      <p>mundo</p>
    </div>
  </div>

</div>
