<nav></nav>
<body>
  <section class="Form my-4 mx-5">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-5">
          <img src="../../assets/img-login/login-photo.png" class="img-fluid" alt="logo umss">
        </div>
        <div class="col-lg-7 px-5 pt-5">
          <h1 id="title" class="font-weight-bold py-3">Inicio de sesión</h1>
          <form>
            <div class="form-row">
              <div class="col-lg-7">
                <label for="username-field" class="form-label">Usuario</label>
                <input id="username-field" type="text" placeholder="Ingrese usuario" class="form-control my-3 p-4">
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <label for="password-field" class="form-label">Contraseña</label>
                <input id="password-field" type="password" placeholder="**********" class="form-control my-3 p-4">
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <button type="button" class="btn1 mt-3 mb-5">Iniciar sesión</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
<footer></footer>
