<app-navbar></app-navbar>
<!--header-->
<div class="containerBody">
  <div class="containertop">
    <h1><b>Registro de Roles</b></h1>
    <div class="btnCreate">
      <button type="button" class="btn btn-one" (click)="navigateTo('/roles-list')">Ver Lista</button>

    </div>
  </div>


  <div>

    <form class="form-newRol" [formGroup]="registerForm" >
      <mat-form-field class="nameRol-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Ingrese el nombre del rol" formControlName="name_role" (keypress)="onKeyPress()">
        <mat-error *ngIf="isValidField('name_role')">
        {{getErrorMessage('name_role')}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="desRol-full-width">
        <mat-label>Descripción</mat-label>
        <input matInput placeholder="Ingrese descricioón del rol" formControlName="description_role" (keypress)="onKeyPress()">
        <mat-error *ngIf="isValidField('description_role')">
        {{getErrorMessage('description_role')}}
        </mat-error>
      </mat-form-field>

      <div class="containerPermiso">
        <h2>Permisos</h2>
        <div class="row row-cols-4">

          <div class="form-check">
            <input class="form-check-input" formControlName='checkAproveSol' type="checkbox" value="" id="checkAproveSol">
            <label class="form-check-label" for="flexCheckDefault" >
              Aprobar Solicitud
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" formControlName='checkCreateCot' type="checkbox" value="" id="checkCreateCot">
            <label class="form-check-label" for="flexCheckDefault" >
              Crear Cotización
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" formControlName='checkCreateSol' type="checkbox" value="" id="checkCreateSol">
            <label class="form-check-label" for="flexCheckDefault" >
              Crear Solicitudes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" formControlName='checkEditCot' type="checkbox" value="" id="checkEditCot">
            <label class="form-check-label" for="flexCheckDefault" >
              Editar Cotización
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" formControlName='checkEditSol' type="checkbox" value="" id="checkEditSol">
            <label class="form-check-label" for="flexCheckDefault" >
              Editar Solicitudes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" formControlName='checkRegisterEmp' type="checkbox" value="" id="checkRegisterEmp">
            <label class="form-check-label" for="flexCheckDefault" >
              Registrar Empresa
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" formControlName='checkItemGasto' type="checkbox" value="" id="checkItemGasto">
            <label class="form-check-label" for="flexCheckDefault" >
              Registro de Item de Gasto
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" formControlName='checkListSol' type="checkbox" value="" id="checkListSol">
            <label class="form-check-label" for="flexCheckDefault" >
              Ver Lista de Solicitudes
            </label>
          </div>
        </div>
      </div>
      <br>
      <br>

      <div class="containerBtn">
        <div>
          <button class="btn btn-cancel" (click)="navigateTo('/roles-list')">Cancelar</button>
          <button class="btn btn-register" (click)="registerPermitAndRole()">Registrar</button>
        </div>

      </div>





    </form>

  </div>




</div>
