<!--Medal menu-->
<div class="menu">
  <ng-template #content let-modal>
    <div class="modal-body">
      <div>
        opcion 1
      </div>
      <div>
        opcion 1
      </div>
      <div>
        opcion 1
      </div>
      <div>
        opcion 1
      </div>

    </div>
  </ng-template>
</div>
<!--Barra de navegacion-->
<nav class="navbar">

    <div class="contenNavbar">
      <div>
        <img src="../../assets/img/navbar/Frame.svg" height="60" alt="">
      </div >
      <div class="imgmenu" (click)="openModal(content)">
        <img src="../../assets/img/navbar/IcoMenu.svg" width="40" height="40" alt="">
      </div>
    </div>

</nav>
