<!--Barra de navegacion-->
<ngx-spinner [name]="spinnerName" [type]="spinnerType"></ngx-spinner>
<app-nav-user></app-nav-user>
<!--Modal Roles-->
<ng-template #content let-modal>

  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title"><b>Detalle de Empresa</b></h1>
    <button type="button" class="close" aria-label="close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="dateInfo">
      <h3><b>Nombre Empresa: </b></h3>
      <div class="dateInfoValue">
        <h3>{{listCompany[pos].name_enterprise}}</h3>
      </div>
    </div>
    <div class="dateInfo">
      <h3><b>Rubro: </b></h3>
      <div class="dateInfoValue">
        <h3>{{listCompany[pos].sector_enterprise}}</h3>
      </div>
    </div>
    <div class="dateInfo">
      <h3><b>NIT: </b></h3>
      <div class="dateInfoValue">
        <h3>{{listCompany[pos].nit_enterprise}}</h3>
      </div>
    </div>
    <div class="dateInfo">
      <h3><b>Representante legal: </b></h3>
      <div class="dateInfoValue">
        <h3>{{listCompany[pos].legal_representative}}</h3>
      </div>
    </div>
    <div class="dateInfo">
      <h3><b>Teléfono: </b></h3>
      <div class="dateInfoValue">
        <h3>{{listCompany[pos].phone_enterprise}}</h3>
      </div>
    </div>
    <div class="dateInfo">
      <h3><b>Correo: </b></h3>
      <div class="dateInfoValue">
        <h3>{{listCompany[pos].email_enterprise}}</h3>
      </div>
    </div>
    <div class="dateInfo">
      <h3><b>Direción: </b></h3>
      <div class="dateInfoValue">
        <h3>{{listCompany[pos].address_enterprise}}</h3>
      </div>
    </div>

  </div>



</ng-template>


<!--header-->
<div class="containerBody">
  <div class="containertop">
    <h1><b>Lista de Empresas</b></h1>
    <div class="btnCreate">
      <button type="button" class="btn btn-one" (click)="navigateTo('/company-register')">Registrar Empresas</button>

    </div>
  </div>

  <!--Tabla-->
  <div class="containerTable">
    <!-- <div class="newHeadTable">
      <div class="numHead"><b>Nº</b></div>
      <div class="nomHead"><b>Empresa</b></div>
      <div class="rugHead"><b>Rubro</b></div>
      <div class="telHead"><b>Teléfono</b></div>
      <th scope="accHead">Acciones</th>
    </div> -->
    <div class="newBodyTable">
      <table class="table table-hover">
        <thead class="headTable">
          <tr>
            <th scope="col">Nº</th>
            <th scope="col">Empresa</th>
            <th scope="col">Rubro</th>
            <th scope="col">Teléfono</th>
            <th scope="col" style="text-align: center !important;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="row-request" *ngFor="let company of listCompany | paginate: { itemsPerPage: numItem, currentPage: pageActual }; let i = index">
            <th  scope="row">{{(( numItem * (pageActual - 1) + i)+1)}}</th>
            <td >
              {{company.name_enterprise}}
            </td>
            <td>
              {{company.sector_enterprise}}
            </td>
            <td>
              {{company.phone_enterprise}}

            </td>

            <td>
              <div class="row justify-content-center">

                <button type="button" class="btn btnAction" (click)="navigateToEdit('/company-edit/'+company.id_enterprise)" ngbPopover="Editar">
                  <img src="../../assets/icon-quote/pencil.png" alt="" width="22" height="22" />
                </button>

                <button type="button" class="btn btnAction" (click)="openModal(content, ( numItem * (pageActual - 1) + i))" ngbPopover="Ver detalle">
                  <img src="../../assets/icon-quote/file-text.png" alt="" width="22" height="22" />
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="contentPagination">
      <pagination-controls (pageChange)="pageActual = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </div>
  </div>

</div>
