<ngx-spinner [name]="spinnerName" [type]="spinnerType"></ngx-spinner>

<!--Barra de navegacion-->
<app-navbar></app-navbar>

<!--Modal-->
<ng-template #content let-modal>

    <div class="modal-header">
      <h1 class="modal-title" id="modal-basic-title"><b>Información</b></h1>
      <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!--Datos de unidad Gasto-->
    <div class="modal-body" *ngIf="show">
      <div class="dateInfo">
        <h3><b>Nombre de unidad:</b></h3>
        <div class="dateInfoValue">
          <h3>{{gastoUnit[pos].name_unit}}</h3>
        </div>
      </div>
      <div class="dateInfo">
        <h3><b>Facultad:</b></h3>
        <div class="dateInfoValue">
          <h3>{{gastoUnit[pos].name_faculty}}</h3>
        </div>
      </div>
      <div class="dateInfo">
        <h3><b>Tipo:</b></h3>
        <div class="conentPermiso">
          <div class="dateInfoValue">
            <h3>{{gastoUnit[pos].type}}</h3>
          </div>
        </div>
      </div>
      <div class="dateInfo">
        <h3><b>Presupuesto actual:</b></h3>
        <div class="conentPermiso">
          <div class="dateInfoValue">
            <h3>{{gastoUnit[pos].amount}}</h3>
          </div>

        </div>
      </div>
    </div>
    <!--Datos de unidad Administrativa-->
    <div class="modal-body" *ngIf="!show">
      <div class="dateInfo">
        <h3><b>Nombre de unidad:</b></h3>
        <div class="dateInfoValue">
          <h3>{{administrativoUnit[pos].name_unit}}</h3>
        </div>
      </div>
      <div class="dateInfo">
        <h3><b>Facultad:</b></h3>
        <div class="dateInfoValue">
          <h3>{{administrativoUnit[pos].name_faculty}}</h3>
        </div>
      </div>
      <div class="dateInfo">
        <h3><b>Tipo:</b></h3>
        <div class="conentPermiso">
          <div class="dateInfoValue">
            <h3>{{administrativoUnit[pos].type}}</h3>
          </div>
        </div>
      </div>
    </div>


</ng-template>

<!--header-->
<div class="containerBody">
  <div class="containertop">
    <div class="contentTitle">
      <h1><b>Administrar unidades</b></h1>
    </div>
    <div class="btnContentCreate">
      <button type="button" class="btn btn-one" (click)="navigateTo('/units-register')">Crear nueva unidad</button>
    </div>
    <div class="btnContentDis">
      <button type="button" class="btn btnListDis" (click)="navigateTo('/unit-list-disabled')" ngbPopover="Lista de Deshabilitados">
        <img src="../../assets/img/delete/Lsitx.png" alt="" width="28" height="28" />
      </button>
    </div>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"
      (click)="showtable(false)" checked>
    <label class="form-check-label" for="inlineRadio1">Lista Unidades Administrativas</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2 "
      (click)="showtable(true)">
    <label class="form-check-label" for="inlineRadio2">Lista Unidades de Gasto</label>
  </div>

  <!--Tabla de unidades de Gasto-->


    <div class="conteinerTable" *ngIf="show">

      <!-- <div class="newHeadTable">
        <div class="numHeadG"><b>Nº</b></div>
        <div class="nomHeadG"><b>Nombre</b></div>
        <div class="monHeadG"><b>Presupuesto</b></div>
        <div class="accHead"><b>Acciones</b></div>
      </div> -->
      <div class="newBodyTable">
        <table class="table table-hover">
          <thead class="headTable">
            <tr>
              <th scope="col">Nº</th>
              <th scope="col">Nombre</th>
              <th scope="col">Presupuesto</th>
              <th scope="col" style="text-align: center !important;">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr class="row-list" *ngFor="let list of gastoUnit | paginate: { itemsPerPage: numItem, currentPage: pageActual }; let i = index">
              <th scope="row">{{(( numItem * (pageActual - 1) + i)+1)}}</th>
              <td>{{list.name_unit}}</td>
              <td>{{list.amount}}</td>
              <td>
                <div class="row justify-content-center">
                  <button type="button" class="btn btnAction" ngbPopover="Editar" (click)="navigateToEdit('/unit-edit', list.id_unit)">
                    <img src="../../assets/icon-quote/pencil.png" alt="" width="22" height="22" />
                  </button>
                  <button id="verRol" type="button" class="btn btnAction" ngbPopover="Ver detalle" (click)="openModal(content, ( numItem * (pageActual - 1) + i))">
                    <img src="../../assets/icon-quote/file-text.png" alt="" width="22" height="22" />
                  </button>
                  <button type="button" class="btn btnAction" ngbPopover="Deshabilitar" (click)="updateStatusData(list.id_unit)">
                    <img src="../../assets/img/delete/cancel-circle.png" alt="" width="22" height="22" />
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="contentPagination">
        <pagination-controls (pageChange)="pageActual = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      </div>

    </div>


  <!--Tabla de unidades de Administrativas-->


    <div class="conteinerTable" *ngIf="!show">

      <!-- <div class="newHeadTable">
        <div class="numHead"><b>Nº</b></div>
        <div class="nomHead"><b>Nombre</b></div>
        <div class="accHead"><b>Acciones</b></div>
      </div> -->

      <div class="newBodyTable">
        <table class="table table-hover">
          <thead class="headTable">
            <tr>
              <th scope="col">Nº</th>
              <th scope="col">Nombre</th>
              <th scope="col" style="text-align: center !important;">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <tr class="row-list" *ngFor="let list of administrativoUnit | paginate: { itemsPerPage: numItem, currentPage: pageActual }; let i = index">
              <th scope="row">{{(( numItem * (pageActual - 1) + i)+1)}}</th>
              <td>{{list.name_unit}}</td>
              <td>
                <div class="row justify-content-center">
                  <button type="button" class="btn btnAction" ngbPopover="Editar" (click)="navigateToEdit('/unit-edit', list.id_unit)">
                    <img src="../../assets/icon-quote/pencil.png" alt="" width="22" height="22" />
                  </button>
                  <button id="verRol" type="button" class="btn btnAction" ngbPopover="Ver detalle" (click)="openModal(content, ( numItem * (pageActual - 1) + i))">
                    <img src="../../assets/icon-quote/file-text.png" alt="" width="22" height="22" />
                  </button>
                  <button type="button" class="btn btnAction" ngbPopover="Deshabilitar" (click)="updateStatusData(list.id_unit)">
                    <img src="../../assets/img/delete/cancel-circle.png" alt="" width="22" height="22" />
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="contentPagination">
        <pagination-controls (pageChange)="pageActual = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      </div>
    </div>
  </div>

